*.swp
*.iml
.idea/

*.o
/server/src/envy
/server/src/dd4
/server/src/shutdown.txt
/server/area/bugs.txt
/server/player/
server/area/sahuagin_market.are~
server/area/sahuagin_remainder_working.are
server/area/sahuagin_remainder.are~
server/area/sahuagin_sunken_working.are
server/area/sahuagin_sunken_working.are~
server/area/sahuagin_sunken_working.bak
server/area/sahuagin_sunken_working2.are
server/area/sahuagin_sunken_working2.are~
server/area/sahuagin_sunken.are
server/area/sahuagin_sunken.are~
server/area/shadowsea.backup.are
server/area/area.orig.lst
.vscode/targets.log
server/area/gamehelp.are
server/area/MOBProgs/Tiareo.orig.prg
server/area/MOBProgs/Tiareo.prg.mashed.says
server/area/MOBProgs/Tiareo.prg.orig
server/area/MOBProgs/Tiareo.prg.segfault
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
